<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<!--学生注册-->
<form method="post" action="/stu_register/">
    {% csrf_token %}
    <label for="sid">学号:</label>
    <input type="text" name="sid" id="sid">
    <br>
    <label for="stu_password">密码:</label>
    <input type="password" name="stu_password" id="stu_password">
    <br>
    <label for="stu_name">姓名:</label>
    <input type="text" name="stu_name" id="stu_name">
    <br>
    <label for="stu_phone">电话:</label>
    <input type="text" name="stu_phone" id="stu_phone">
    <br>
    <label for="stu_email">邮箱:</label>
    <input type="email" name="stu_email" id="stu_email">
    <br>
    <label for="bjid">班级编号:</label>
    <input type="text" name="bjid" id="bjid">
    <br>
    <input type="submit" value="注册">
</form>

<!--教师注册-->
<form method="post" action="/t_register/">
    {% csrf_token %}
    <label for="tid">教师编号:</label>
    <input type="text" name="tid" id="tid">
    <br>
    <label for="tid">密码:</label>
    <input type="password" name="tpassword" id="tpassword">
    <br>
    <label for="tname">姓名:</label>
    <input type="text" name="tname" id="tname">
    <br>
    <label for="tphone">手机号码:</label>
    <input type="text" name="tphone" id="tphone">
    <br>
    <label for="temail">邮箱:</label>
    <input type="email" name="temail" id="temail">
    <br>
    <input type="submit" value="注册">
</form>
</body>
</html>